[[source]]
name = "pypi"
url = "https://pypi.org/simple"
verify_ssl = true

[dev-packages]
black = "*"

[requires]
python_version = "3.8"

[packages]
torch = "*"
h5py = "*"
tqdm = "*"

[pipenv]
allow_prereleases = true
